extends layout

block content
  h1= title
  p.
    This is a proxy for connecting to internet fileservices like DropBox or OneDrive.
    It only allows to download files, that are public. The idea came out of
    a security regulation, that prohibits the use of Internet File Services.
  p.
    Please enter the URL of a public file.

  form(action='/', method='post')
    input(id='urlinput',name='urlstring', type='text')
    button(type='submit', value='save').
      Request file
